---
import styles from './Profile.module.css'
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { ProfileProps } from '.';
import Image from '../Image';
export type Props = ProfileProps;

const {
  avatar,
  background,
  author,
  description,
  socialIcons
} = Astro.props;
---
<div class='plate-bg border-highlight p-4 rounded-xl overflow-hidden relative'>
  {background && (
    <Image src={background} inferSize class={twMerge(
      'absolute top-0 left-0 w-full h-32 select-none',
      styles.profileBg
    )} alt='background' />
  )}
  {avatar && <Image src={avatar} inferSize class="block relative w-28 h-28 rounded-full mt-8 mx-auto ring-white ring-8 dark:ring-gray-800" alt='avatar' />}
  <div class="text-center my-4">
    {author && <div class='text-2xl font-bold'>{author}</div>}
    {description && <div class='text-sm mt-2'>{description}</div>}
  </div>
  {socialIcons && (
    <div class='flex flex-wrap justify-center items-center gap-2'>
      {socialIcons.map(({ label, color, icon, url }) => (
        <a href={url} title={label} class={twMerge(
          'h-[2.125rem] w-[2.125rem] flex items-center justify-center',
          styles.socialIcon
        )} style={{
          color: color
        }} target='_blank'>
          <Icon width={20} height={20} name={icon} is:inline />
        </a>
      ))}
    </div>
  )}
</div>
