---
import Category from '../Category';
import Tag from '../Tag';
import IconCalendarFill from '~icons/mingcute/calendar-fill';
import IconTextFill from '~icons/mingcute/text-fill';
import IconTimeFill from '~icons/mingcute/time-fill';
import { twMerge } from 'tailwind-merge';
import ScrollArea from '../ScrollArea';
import DateTime from '../DateTime';

export interface PostDetailsProps {
  class?: string;
  title: string;
  excerpt?: string;
  url: string;
  date: Date;
  tags?: Array<{
    label: string;
    url: string;
  }>;
  category?: {
    label: string;
    url: string;
  };
  wordCount?: number;
  readingTime?: number;
  shadow?: boolean;
}
export type Props = PostDetailsProps;

const {
  class: className,
  title,
  excerpt,
  url,
  date,
  category,
  tags,
  wordCount,
  readingTime,
  shadow = false
} = Astro.props;

---
<div class={twMerge(
  'flex flex-col flex-nowrap justify-between',
  'p-3 md:py-8 md:px-7 w-full md:w-72',
  'text-gray-800 dark:text-gray-100',
  className
)}>
  <div class={twMerge(
    'flex flex-wrap p-1 text-sm gap-x-4 gap-y-1 scrollbar-none leading-none',
    shadow && 'drop-shadow-[0_2px_2px_rgba(0,0,0,.5)]'
  )}>
    <span class='flex items-center flex-none mr-auto'>
      <IconCalendarFill className='mr-1' />
      <DateTime date={date} />
    </span>
    { typeof wordCount === 'number' && <span class='flex items-center'><IconTextFill className='mr-1' />共{wordCount}字</span> }
    { typeof readingTime === 'number' && <span class='flex items-center'><IconTimeFill className='mr-1' />约{readingTime}分钟</span> }
  </div>
  <a href={url} class={twMerge(
    'p-1 py-1 text-xl font-bold truncate md:text-2xl',
    shadow && 'drop-shadow-[0_2px_2px_rgba(0,0,0,.5)]'
  )}>{title}</a>
  <ScrollArea className='text-sm' hasThumb={false} client:visible>
    <div class="flex flex-nowrap gap-2">
      {category && <Category className='flex-none text-gray-800 dark:text-white' category={category} />}
      {tags && tags.map(tag => <Tag className='flex-none text-gray-800 dark:text-white' tag={tag} />)}
    </div>
  </ScrollArea>
  <div class={twMerge(
    'hidden md:line-clamp-2',
    'break-words text-ellipsis overflow-hidden text-sm m-1',
    shadow && 'drop-shadow-[0_2px_2px_rgba(0,0,0,.5)]'
    )}>{excerpt}</div>
</div>