---
import type { GetStaticPaths, GetStaticPathsResult, Page as AstroPage } from 'astro';
import PageLayout from '@/layouts/PageLayout.astro';
import PostCard from '@/components/PostCard';
import getPosts from '@/utils/getPosts';
import { compareDesc } from 'date-fns';
import type { Page, Post } from '@/types';
import { createPaginator } from '@/utils/createPaginator';
import config from 'virtual:user-config';

export interface Props {
  page: AstroPage<Omit<Post, 'Content'>>;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = (await getPosts()).filter(post => !post.draft).sort((a, b) => compareDesc(a.date, b.date));
  const paths: GetStaticPathsResult = paginate(allPosts, {
    pageSize: 20,
  }).map(item => {
    return {
      params: {
        page: `page/${item.params.page}`,
      },
      props: item.props,
    };
  });
  if (paths.length > 0) {
      paths.push({
      params: {
        page: undefined,
      },
      props: paths[0].props,
    })
  }
  return paths;
}
const { page }= Astro.props;

const pageConfig: Page = {
  type: 'index',
  title: config.title,
  description: config.description,
  posts: page.data,
  paginator: createPaginator(page, {
    firstPageIsIndex: true,
  })
}
---

<PageLayout page={pageConfig}>
  <div class='flex flex-col gap-y-4 md:gap-y-6'>
    {
      page.data.map((post, index) => {
        return <PostCard
          title={post.title} 
          excerpt={post.excerpt}
          image={post.image}
          date={post.date}
          url={post.url}
          wordCount={post.wordCount}
          readingTime={post.readingTime && Math.ceil(post.readingTime)}
          tags={post.tags}
          category={post.category}
          variant={post.cardVariant}
          imagePosition={index%2==0?'left':'right'}
        ></PostCard>
      })
    }
  </div>
</PageLayout>