---
import Navbar from '@/partials/Navbar';
import Footer from '@/partials/Footer';
import Sidebar from '@/partials/Sidebar';
import Fabs from '@/components/Fabs';
import BlurredBackdrop from '@/components/BlurredBackdrop';
import type { SidebarConfig, TocConfig } from '@/partials/Sidebar';
import getTags from '@/utils/getTags';
import getCategories from '@/utils/getCategories';
import type { Page } from '@/types';
import Html from './Html.astro';
import Hero, { type HeroConfig } from '@/partials/Hero';
import Pagination from '@/partials/Pagination';
import Comment from '@/partials/Comment';
import config from '@/config';
import sortByProperty from '@/utils/sortByProperty';
import { twMerge } from 'tailwind-merge';
import generateToc from '@/utils/generateToc';
import Search from '@/components/Search';

export interface Props {
  page: Page;
  hasNavbar?: boolean;
  hasSidebar?: boolean;
  hasHero?: boolean;
  hasComment?: boolean;
  hasFooter?: boolean;
}

const { 
  page,
  hasNavbar = true,
  hasSidebar = true,
  hasHero = true,
  hasComment = false,
  hasFooter = true,
} = Astro.props;

const {
  navbar,
  hero,
  sidebar,
  pagination,
  comment,
  footer,
  algolia,
} = config;


function getHeroInfo(page: Page): HeroConfig['info'] {
  if (page.type === 'post') {
    return {
      type: 'post',
      category: page.post.category,
      tags: page.post.tags
    }
  } else if (page.type === 'categories') {
    return {
      type: 'categories',
      count: page.categories.length,
    }
  } else if (page.type === 'tags') {
    return {
      type: 'tags',
      count: page.tags.length,
    }
  } else if (page.type === 'posts') {
    return {
      type: 'posts',
      count: page.posts.length,
    } 
  } else if (page.type === 'archive') {
    return {
      type: 'archive',
      count: page.posts.length,
    }
  }
}

let heroConfig: HeroConfig | false = false;
if (hero) {
  const heroBg = page.image ?? hero.background;
  heroConfig = {
    background: heroBg,
    description: page.type === 'index' ? hero.description : page.description,
    title: page.type === 'index' ? (hero.title ?? config.title) : page.title,
    info: getHeroInfo(page),
  }
}

const widgetConfig: SidebarConfig['widgets'] = sidebar && sidebar.widgets ? 
  await Promise.all(sidebar.widgets.map(async widget => {
    if (widget.name === 'tag-cloud') {
      const allTags = await getTags();
      return {
        name: widget.name,
        tags: sortByProperty(
          allTags,
          widget.sortBy ?? 'count',
          widget.order ?? 'desc'
        ).slice(0, widget.limit ?? 30),
      }
    } else if (widget.name === 'category-tree') {
      const allCategotries = await getCategories();
      return {
        name: widget.name,
        expandDepth: widget.expandDepth ?? 2,
        categories: sortByProperty(
          allCategotries,
          widget.sortBy ?? 'count',
          widget.order ?? 'desc'
        ).slice(0, widget.limit),
      }
    } else {
      return widget;
    }
  })) : [];

const tocConfig: TocConfig | null = page.type === 'post' && page.post.headings.length > 0 ? {
  name: 'toc',
  toc: generateToc(page.post.headings),
} : null;

if (tocConfig) {
  widgetConfig.unshift(tocConfig);
}

const sidebarConfig: SidebarConfig | false = sidebar ? {
  ...sidebar,
  widgets: widgetConfig
} : false;

---

<Html
  title={page.type === 'index' ? config.title : `${page.title} - ${config.title}`}
  description={page.description ?? config.description}
  author={page.type === 'post' ? page.post.author.name : config.author}
  favicon={config.favicon}
>
  <slot name="head" slot="head" />
  {hasNavbar && navbar && <Navbar class='px-3 mx-auto lg:max-w-[74rem]' config={navbar} />}
  {hasHero && heroConfig && heroConfig.background && <BlurredBackdrop image={heroConfig.background} class="h-[22rem] absolute left-0 right-0 top-0 -z-10" transition:animate="fade" />}
  {hasHero && heroConfig && <Hero class={twMerge(
    'mx-auto w-full lg:max-w-[74rem] p-3',
    heroConfig.background && 'h-72 md:h-96'
  )} config={heroConfig} transition:animate="fade" />}
  <main class="mx-auto w-full lg:max-w-[74rem] md:my-1 flex-grow flex" transition:animate="fade">
    <div class={twMerge(
      "p-3 md:pr-0 lg:pr-3 min-w-0 w-full",
      hasSidebar && sidebarConfig && "md:w-[calc(100%_-_17rem)]",
    )}>
      <slot />
      {hasComment && comment && (
        <div class="mt-6">
          <Comment config={comment} />
        </div>
      )}
    </div>
    {sidebarConfig && <Sidebar class="w-[17rem] flex-none" config={sidebarConfig} show={hasSidebar} />}
  </main>
  {('paginator' in page && page.paginator) && pagination && (
    <Pagination
      className='my-6 mx-auto max-w-fit'
      current={page.paginator.current}
      total={page.paginator.total}
      pageUrls={page.paginator.pageUrls}
      config={pagination}
    />
  )}
  <Fabs class='hidden md:block right-[max(1rem,calc(50%-3rem-74rem/2))]' />
  {hasFooter && footer && <Footer containerClassName="px-3 mx-auto lg:max-w-[74rem] my-8" config={footer} />}
  {algolia && <Search {...algolia} client:only='react' />}
</Html>